body {
  margin: 20px;
  font-family: "Open Sans";
}
div,
main {
  background-color: white;
}
h2 {
  margin-top: 0;
}
.padding {
  padding: 20px;
}
.bordered {
  border: 1px solid #999;
}
.clearfix {
  clear: both;
}
.container {
  background-color: #eee;
  min-width: 768px;
}
.left-team {
  width: 160px;
  float: left;
  margin-right: 20px;
}
.left-team img {
  float: left;
  margin-right: 20px;
}
.right-person {
  width: 80px;
  float: right;
  margin-left: 20px;
}
.right-person img {
  margin-bottom: 20px;
}
.right-person img:last-child {
  margin: 0;
}
.center-intro {
  overflow: auto;
}
